html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#skills {
  transition: transform 0.3s, border 0.5s, background-color 0.5s;
  border: 10px solid rgba(255, 22, 22, 0.7);
}

#skills:hover {
  transform: scale(1.05);
  border: 10px solid rgba(255, 22, 22, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

#experience {
  transition: transform 0.3s;
  border: 10px solid rgba(255, 22, 22, 0.7);
}

#experience:hover {
  transform: scale(1.05);
  border: 10px solid rgba(255, 22, 22, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

#hobbies {
  transition: transform 0.3s;
  border: 10px solid rgba(255, 22, 22, 0.7);
}

#hobbies:hover {
  transform: scale(1.05);
  border: 10px solid rgba(255, 22, 22, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

#about div {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
}

#about {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/river.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
